<%- include("layout/header") %>

    <div class="p-3 mb-2 bg-info-subtle text-info-emphasis">
        <img src="https://cdni.iconscout.com/illustration/premium/thumb/developer-2143200-1801815.png"
            class="img-fluid mx-auto d-block" alt="...">
        <p>
        <h4>Developed by Satyabrat</h4>
        </p>
    </div>

    <%- include("./layout/footer") %>